# RustRover
.idea/

# My personal notes and tasks outside the project
/work.txt

# MAC
.DS_Store

# RUST
**/target/**
Cargo.lock

# Qipio Deployment
.do-deployment/environments/secrets.env
.do-deployment/state/
.droplet-*.json
*.log
